html{
    background-color: #f8f8f8;
    color: #202023;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.globe-img{
    height: 150px;
}

form{
    display: flex;
    justify-content: flex-end;
    /*max-width: 400px;*/
    margin-bottom: 30px;

}

#search-form input {
    padding: 20px 0 20px 20px;
    border: 1px solid #a8e170;
    border-right-color: transparent;
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    width: 300px;
    font-size: 16px;
}


#search-form button {
    width: 100px;
    background-color: #a8e170;
    border: 1px solid #a8e170;
    border-radius: 0 8px 8px 0;
    padding: 8px 16px;
    color: white;
    margin-right: 20px;
}

input:focus{
    outline: none;
}

#search-result article{
    width: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 6px 30px -7px rgba(0,0,0,0.3);
}

#search-result article{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#search-result span{
    display: flex;
    align-items: center;
}

#search-result .flag{
    min-width: 40px;
    width: auto;
    max-height: 40px;
    margin-right: 30px;
}

.error-message {
    padding: 16px 0;
    color: indianred;
    border-radius: 8px;
}